@keyframes circle {
  0% {
    transform: translate(0px, 25px);
  }
  5% {
    transform: translate(-7.72542486px, 23.77641291px);
  }
  10% {
    transform: translate(-14.69463131px, 20.22542486px);
  }
  15% {
    transform: translate(-20.22542486px, 14.69463131px);
  }
  20% {
    transform: translate(-23.77641291px, 7.72542486px);
  }
  25% {
    transform: translate(-25px, 0px);
  }
  30% {
    transform: translate(-23.77641291px, -7.72542486px);
  }
  35% {
    transform: translate(-20.22542486px, -14.69463131px);
  }
  40% {
    transform: translate(-14.69463131px, -20.22542486px);
  }
  45% {
    transform: translate(-7.72542486px, -23.77641291px);
  }
  50% {
    transform: translate(0px, -25px);
  }
  55% {
    transform: translate(7.72542486px, -23.77641291px);
  }
  60% {
    transform: translate(14.69463131px, -20.22542486px);
  }
  65% {
    transform: translate(20.22542486px, -14.69463131px);
  }
  70% {
    transform: translate(23.77641291px, -7.72542486px);
  }
  75% {
    transform: translate(25px, 0px);
  }
  80% {
    transform: translate(23.77641291px, 7.72542486px);
  }
  85% {
    transform: translate(20.22542486px, 14.69463131px);
  }
  90% {
    transform: translate(14.69463131px, 20.22542486px);
  }
  95% {
    transform: translate(7.72542486px, 23.77641291px);
  }
  100% {
    transform: translate(0px, 25px);
  }
}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1463714917_363518.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/font_1463714917_363518.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1463714917_363518.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1463714917_363518.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1463714917_363518.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(18deg);
  }
  10% {
    transform: rotate(36deg);
  }
  15% {
    transform: rotate(54deg);
  }
  20% {
    transform: rotate(72deg);
  }
  25% {
    transform: rotate(90deg);
  }
  30% {
    transform: rotate(108deg);
  }
  35% {
    transform: rotate(126deg);
  }
  40% {
    transform: rotate(144deg);
  }
  45% {
    transform: rotate(162deg);
  }
  50% {
    transform: rotate(180deg);
  }
  55% {
    transform: rotate(198deg);
  }
  60% {
    transform: rotate(216deg);
  }
  65% {
    transform: rotate(234deg);
  }
  70% {
    transform: rotate(252deg);
  }
  75% {
    transform: rotate(270deg);
  }
  80% {
    transform: rotate(288deg);
  }
  85% {
    transform: rotate(306deg);
  }
  90% {
    transform: rotate(324deg);
  }
  95% {
    transform: rotate(342deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes curve {
  0% {
    transform: translate(0px, 0px);
  }
  5% {
    transform: translate(7.5px, -6.18033989px);
  }
  10% {
    transform: translate(15px, -11.75570505px);
  }
  15% {
    transform: translate(22.5px, -16.18033989px);
  }
  20% {
    transform: translate(30px, -19.02113033px);
  }
  25% {
    transform: translate(37.5px, -20px);
  }
  30% {
    transform: translate(45px, -19.02113033px);
  }
  35% {
    transform: translate(52.5px, -16.18033989px);
  }
  40% {
    transform: translate(60px, -11.75570505px);
  }
  45% {
    transform: translate(67.5px, -6.18033989px);
  }
  50% {
    transform: translate(75px, 0px);
  }
  55% {
    transform: translate(82.5px, 6.18033989px);
  }
  60% {
    transform: translate(90px, 11.75570505px);
  }
  65% {
    transform: translate(97.5px, 16.18033989px);
  }
  70% {
    transform: translate(105px, 19.02113033px);
  }
  75% {
    transform: translate(112.5px, 20px);
  }
  80% {
    transform: translate(120px, 19.02113033px);
  }
  85% {
    transform: translate(127.5px, 16.18033989px);
  }
  90% {
    transform: translate(135px, 11.75570505px);
  }
  95% {
    transform: translate(142.5px, 6.18033989px);
  }
  100% {
    transform: translate(150px, 0px);
  }
}
